  <nav>
    <div class="nav-wrapper blue-grey darken-3">






            <!-- Dropdown Trigger -->
              <a class='dropdown-button btn' href='#' style="margin-left: 12.5px; padding-right: 15px;" data-activates='dropdown1'>Shop<i style="line-height: 37.5px; padding-left: 30px; padding-right: 0px; margin-right: 0px;" class="fa fa-bars"></i></a>

              <!-- Dropdown Structure -->
              <ul id='dropdown1' class='dropdown-content'>
                <li><a style="color: black;" class="dropdown-text" href="/costumes">Costumes</a></li>
                <li><a style="color: black;" class="dropdown-text" href="/jackets">Jackets</a></li>
                <li><a style="color: black;" class="dropdown-text" href="/shirts">Shirts</a></li>
                <li><a style="color: black;" class="dropdown-text" href="/t-shirts">T-shirts</a></li>
                <li><a style="color: black;" class="dropdown-text" href="/sweatshirts">Sweatshirts</a></li>
                <li><a style="color: black;" class="dropdown-text" href="/joggers">Joggers</a></li>
                <li><a style="color: black;" class="dropdown-text" href="/underwear">Underwear</a></li>
                <li class="divider"></li>
                <li><a style="color: black;" class="dropdown-text" href="/accessories">Accessories</a></li>
                <li><a style="color: black;" class="dropdown-text" href="/watches">Watches</a></li>
                <li><a style="color: black;" class="dropdown-text" href="/shoes">Shoes</a></li>
              </ul>







      <a href="/" class="brand-logo center">Elegance</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down"> 
        <li><a href="/login">Login</a></li>
        <li><a href="/shoppingcart"><i class="fa fa-shopping-cart fa-2x"></i></a></li>

            




           <!-- Dropdown Trigger -->
              <a class='dropdown-button btn' style="padding-right: 15px" href='#' data-activates='dropdown2'>Account<i style="line-height: 37.5px; padding-left: 30px; padding-right: 0px; margin-right: 0px;" class="fa fa-bars"></i></a>

              <!-- Dropdown Structure -->
              

              <ul id='dropdown2' class='dropdown-content'>
                <li><a style="color: black;" href="/trackorder">Track Order</a></li>
                <li><a style="color: black;" href="/orderhistory">Order History</a></li>
                <li><a style="color: black;" href="/changepassword">Change Password</a></li>
                <li class="divider"></li>
                <li><a style="color: black;" href="/myaccount">My Account</a></li>
              </ul>




      </ul>
    </div>
  </nav>