<div class="slider">
    <ul class="slides">
      <li>
        <a style="color:white; padding: 0px;" href="/costumes"><img src="https://images.unsplash.com/photo-1426523038054-a260f3ef5bc9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=60e2c1af0221c9f5b39c091a11151da2"> <!-- random image -->
        <div class="caption center-align">
          <h3>Costumes</h3>
          <h5 class="light grey-text text-lighten-3">Click here to see all new products!</h5></a>
        </div>
      </li>
      <li>
        <a style="color:white; padding: 0px;" href="/watches"><img src="https://images.unsplash.com/photo-1451859757691-f318d641ab4d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=bfca2a73537f3ad7c3ef8382d316089b"> <!-- random image -->
        <div class="caption left-align">
          <h3>Daniel Wellington</h3>
          <h5 class="light grey-text text-lighten-3">New arrival from Daniel Wellington. Click here to see more!</h5></a>
        </div>
      </li>
      <li>
        <a style="color:white; padding: 0px;" href="/shoes"><img src="https://images.unsplash.com/uploads/1412198532414025532c0/6a31309c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=fd334903bed0840501cc0814173bdfef"> <!-- random image -->
        <div class="caption right-align">
          <h3>All Shoes 20% Off!</h3>
          <h5 class="light grey-text text-lighten-3">Click here to view the sale!</h5></a>
        </div>
      </li>
      <li>
        <a style="color:white; padding: 0px;" href="/accessories"><img src="https://images.unsplash.com/3/www.madebyvadim.com.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=89182af822bfb5f5d23e5c1968d1aaa4"> <!-- random image -->
        <div class="caption center-align">
          <h3>Accessories</h3>
          <h5 class="light grey-text text-lighten-3">Click here to see our new collection of accessories!</h5></a>
        </div>
      </li>
    </ul>
  </div>
      