<%- include partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="css/login.css">
<link rel="stylesheet" type="text/css" href="css/theme-background.css">

<div class="content">
    <!--Echo out errors here. See example-->
    <!--<p class=error>Error, wrong username or password used. Please, try again.-->
    <form>
      <div class="mat-in">
        <input type="text" name="username" value="" required></input>
        <span class="bar"></span>
        <label>Old Password</label>
      </div>
      <div class="mat-in">
        <input type="password" name="new-password" value="" required></input>
        <span class="bar"></span>
        <label>New Password</label>
      </div>
      <div class="mat-in">
        <input type="password" name="confirm-new-password" value="" required></input>
        <span class="bar"></span>
        <label>Confirm New Password</label>
      </div>
      <button type="submit" name="changepassword" id="changepassword">Change Password</button>
    </form>
  </div>
 
  <%- include partials/footer.ejs %>





