<%- include partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="css/theme-background.css">


<div class="container">
	 <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="fa fa-info"></i>Personal Information</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fa fa-arrow-circle-right"></i>Pending Orders</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
   
    <li>
      <div class="collapsible-header"><i class="fa fa-arrow-circle-left"></i>My Returns</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
     <li>
      <div class="collapsible-header"><i class="fa fa-truck"></i>Order History</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fa fa-credit-card"></i>Payments</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fa fa-question"></i>Help</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>

  </div>


<%- include partials/footer.ejs %>